$bg-color: linear-gradient(#14301a, #6fb878);
$pr-font-color: #fff;
$sc-font-color: #02fc55;
$inner-bg-pr-color: #19a748;
$inner-bg-sc-color: #0f632b;
$bg-color-dark: #1d5024;
$dark-transparent: rgb(0 0 0 / 40%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  background: $bg-color;
}

.main-wrapper {
  text-align: center;
  color: $pr-font-color;
  margin-top: 20px;
}

.section-title {
  font-weight: 400;
  font-size: 40px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: 60px;
  transform: translate(-50%, -50%);
  background: rgb(0 0 0 / 50%);
  box-shadow: 0 12px 22px $dark-transparent;
  border-radius: 8px;
}

.section-wrapper h2 {
  margin-bottom: 20px;
  text-align: center;
  color: $pr-font-color;
}

.profile-form,
.login-form {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  text-align: left;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: $pr-font-color;
  margin-top: 10px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid $pr-font-color;
  background: transparent;
}

.input-wrapper label {
  padding: 10px 0;
  font-size: 20px;
  color: $pr-font-color;
  pointer-events: none;
}

.input-wrapper input[type="submit"],
.input-wrapper input[type="button"],
.button,
.submit-btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  color: $sc-font-color;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border: 2px solid $inner-bg-pr-color;
  border-radius: 5px;
  background-color: transparent;
  align-self: flex-start;
  width: 100%;
}

.input-wrapper input[type="submit"]:hover,
.button:hover {
  background: $inner-bg-pr-color;
  color: $pr-font-color;
  border: 2px solid $sc-font-color;
  border-radius: 5px;
}

.input-wrapper input[type="submit"]:active,
.button:active {
  background: $inner-bg-pr-color;
  color: $pr-font-color;
  border: 2px solid $bg-color-dark;
  border-radius: 5px;
}

.link-btn {
  text-decoration: none;
  color: $pr-font-color;
  font-size: 14px;
  letter-spacing: 2px;
  align-self: flex-end;
}

.link-btn:hover {
  font-size: 16px;
  color: $sc-font-color;
}

.link-btn:active {
  color: $bg-color-dark;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: $dark-transparent;
  background-image: url("../../static/images/avatar.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.info-field {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-bottom: 1px solid $pr-font-color;
}

.change-avatar {
  background-image: none;
}

.edit-inputs,
.input-avatar,
.profile-form button[type="submit"] {
  display: none;
}

.edit-labels {
  display: flex;
}

.message-page-wrapper {
  height: 100vh;
  width: 100vw;
  color: $bg-color-dark;
  display: flex;
}

.message-wrapper {
  width: 70%;
  height: 100%;
  background-color: #73acdd;
}

.aside-wrapper {
  width: 30%;
  height: 100%;
  background-color: #259b4d;
}

.input-wrapper .find-input {
  border: 1px solid $inner-bg-sc-color;
  background-color: #fff;
}

.message-pr-wrapper {
  width: 100%;
  border: 1px solid grey;
  background-color: lightgray;
}

.message-unread {
  width: 20px;
  height: 20px;
  background-color: $dark-transparent;
  border-radius: 50%;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message-view-wrapper,
.message-view-wrapper-user {
  border: 1px solid $inner-bg-sc-color;
  color: $bg-color-dark;
  width: 70%;
  background-color: grey;
  margin: 20px;
  padding: 20px;
  text-align: leflink-btnt;
  border-radius: 5px;
  align-self: flex-start;
}

.message-view-wrapper-user {
  background-color: rgb(125 198 225);
  align-self: flex-end;
  margin-right: 30px;
}

.form-error-message {
  display: none;
  color: rgb(183 26 26);
  font-size: 85%;
  text-align: left;
  margin-top: -20px;
  margin-bottom: 10px;
}

.main-navigation {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
