<h2 class="section-title">{{{title}}}</h2>
<div class="form">{{{form}}}</div>

<nav>
	<ul class="main-navigation">
		<li>
			<a class="link-btn" href="../messenger">
				Message
			</a>
		</li>
		<li>
			<a class="link-btn" href="../sign-up">
				Create account
			</a>

		</li>
		<li>
			<a class="link-btn" href="/">
				Sign In
			</a>
		</li>
		<li>
			<a class="link-btn" href="../settings">
				Profile
			</a>
		</li>
		<li>
			<a class="link-btn" href="../404">
				404
			</a>
		</li>
		<li>
			<a class="link-btn" href="../500">
				500
			</a>
		</li>
	</ul>

</nav>
