<div>
  <textarea type="text" placeholder="Type a message" class="message-text-area"></textarea>
</div>
<p class="form-error-message">Вы пытаетесь отправить пустое сообщение </p>
<input type="submit" class="submit-btn message-submit" value="Send Message" name="send-mess">
