<div>{{{oldPassword}}}
  <p class="form-error-message">
    от 8 до 40 символов, обязательно хотя бы одна заглавная буква и цифра.</p>
</div>
<div>
  {{{newPassword}}} <p class="form-error-message">от 8 до 40 символов, обязательно хотя бы одна заглавная буква и цифра.
  </p>
</div>
{{{button}}}
