<h2 class="section-title">{{title}}</h2>
<h3> {{subtitle}}</h3>
<p> {{text}}</p>
<a href="#" class="link-btn">{{linkText}}</a>
<nav>
  <ul class="main-navigation">
    <li>
      <a class="link-btn" href="../message">
        Message
      </a>
    </li>
    <li>
      <a class="link-btn" href="../register">
        Create account
      </a>

    </li>
    <li>
      <a class="link-btn" href="/">
        Sign In
      </a>
    </li>
    <li>
      <a class="link-btn" href="../profile">
        Profile
      </a>
    </li>
    <li>
      <a class="link-btn" href="../404">
        404
      </a>
    </li>
    <li>
      <a class="link-btn" href="../500">
        500
      </a>
    </li>
  </ul>

</nav>
